<div class="container">
  <div class="row heading">
    <div class="panel-heading">
      <h3 class="panel-title">Car Registration Form</h3>
     </div>
  </div>
  <div class="row">
      <div class="col-6" id="wrapper_1">
              <form [formGroup]="form">
                <div class="form-group">
                  <input type="text" name="ful_name" id="ful_name" class="form-control input-sm" placeholder="Full Name" formControlName="fullName" #fullname>
                  <span class="errors" *ngIf="!f.fullName.valid && f.fullName.touched && f.fullName.errors && f.fullName.errors.required">Full Name is Required*</span>
                  <span class="errors" *ngIf="!f.fullName.valid && f.fullName.touched && f.fullName.errors && f.fullName.errors.maxlength">Max length allowed is {{fullName.errors.maxlength?.requiredLength}} </span>
                  <span class="errors" *ngIf="!f.fullName.valid && f.fullName.touched && f.fullName.errors && f.fullName.errors.pattern">Only A-Z and a-z are allowed</span>
                </div>

                <div class="form-group">
                  <ng-multiselect-dropdown
                  [placeholder]="'Search Car'"
                  [settings]="carConfig"
                  [data]="carLists"
                  formControlName="carName"
                >
                </ng-multiselect-dropdown>
                  <span class="errors" *ngIf="!f.carName.valid && f.carName.touched && f.carName.errors && f.carName.errors.required">Required*</span>
                </div>


                  <div class="form-group">
                    <ng-multiselect-dropdown
                    [placeholder]="'Search Auto Parts'"
                    [settings]="partConfig"
                    [data]="autoPartLists"
                    formControlName="autoPartName"
                  >
                  </ng-multiselect-dropdown>
                    <span class="errors" *ngIf="!f.autoPartName.valid && f.autoPartName.touched && f.autoPartName.errors && f.autoPartName.errors.required">Required*</span>
                  </div>
                  <div class="form-group">
                    <label for="color">Select Car Color: </label>
                    <color-sketch (onChange)="handleChange($event)"></color-sketch>
                    <div class="colorBox" [ngStyle]="{'background-color': color}"></div>
                  </div>
                <input type="submit" value="Register" class="btn btn-info btn-block" (click)="onSubmit()">
              </form>
      </div>
      <div class="col-6" id="wrapper_2" *ngIf="fullname.value">
        <div class="panel-heading" style="text-align: center;">
          <h3 class="panel-title">Summary</h3>
         </div>
         <div class="form-group">
          <p for="name">Full Name: <span class="value">{{fullname.value}}</span></p>
         </div>
      </div>
  </div>
  <div class="row heading">
    <div class="panel-heading"></div>
  </div>
</div>
